<!-- Page title -->
<div class="page-title">
  <h3><i class="fa fa-desktop color"></i> 生产任务单管理
    <span class="pull-right">
    	操作订单<%=@order.name %>
    </span>
  </h3>
  <hr />
</div>
<div class="awidget full-width">
   <div class="awidget-head">
        <div class="row">
           <div class="col-md-12 col-sm-12">
              <h3>订单部件列表</h3>
           </div>
        </div>
   </div>
   <div class="awidget-body">
   </div>
</div>