<div class="page-title">
  <h2><i class="fa fa-desktop color"></i>  配件种类管理 <small>修改配件种类</small>
    <span class="pull-right">
      <%= link_to('返回',part_categories_path, class: 'btn btn-lg btn-default') %>
    </span>
  </h2>
  <hr />
</div>

<%= render 'form' %>
