<div class="page-title">
  <h2><i class="fa fa-desktop color"></i>  配件类型 <small>编辑</small>
    <span class="pull-right">
      <%= link_to('返回', :back, class: 'btn btn-lg btn-default') %>
    </span>
  </h2>
  <hr />
</div>

<%= render 'form' %>
