<div class="page-title">
  <h2><i class="fa fa-desktop color"></i> 个人首页 <small>管理</small>
  <span class="pull-right">
    <%= link_to '编辑', edit_user_path(@current_user), class: 'btn btn-lg btn-info' %>
  </span>
  </h2>
  <hr />
</div>

<%= params[:message] %>