<div class="page-title">
  <h2><i class="fa fa-desktop color"></i>  员工管理 <small>新建</small>
  <span class="pull-right">
    <%= link_to('返回',users_path, class: 'btn btn-lg btn-default') %>
  </span>
  </h2>
  <hr />
</div>
<%= render 'form' %>