<%= simple_form_for(@order, url: @order.new_record? ? orders_path : order_path(@order)) do |f| %>
  	<%= f.input :order_code %>
  	<%= f.association :work, :include_blank => false%>
  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-lg btn-block btn-primary'  %>
  </div>
<% end %>



