<div class="page-title">
  <h2><i class="fa fa-desktop color"></i>  模块管理 <small>新建</small>
  <span class="pull-right">
    <%= link_to('返回', moulds_path, class: 'btn btn-lg btn-default') %>
  </span>
  </h2>
  <hr />
</div>
<div class="awidget full-width">
  <div class="awidget-body">
    <%= render 'form' %>
  </div>
</div>