<div class="page-title">
  <h2><i class="fa fa-desktop color"></i>  订单到款 <small>添加</small>
  </h2>
  <hr />
</div>
<!-- Page title -->

<div class="awidget full-width">
  <div class="awidget-head">
    <h3>订单到款新建</h3>
    <p>订单号：<%= @order.order_code%></p>
  </div>
  <div class="awidget-body">
    <div class="row">
      <div class="col-md-12">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>