/* 为导航栏添加hover样式 */

/* 修改radio一行显示时，第一个radio样式错误 */
.radio-inline {
  margin-top: 0px;
}

#openOutExcel {
  color: #fff !important;
}

.detail-link{
  // color: #16cbe6 !important;
  &:hover{
    text-decoration: none !important;
    background-color: #F9F9F9;
  }
  &:visited{
    color: #3296E7;
  }
}

code{
  background: #DADADA;
}

/* 必填字段*标记为红色 */
label.required abbr{
  color: red;
}