/* 为导航栏添加hover样式 */

/* 修改radio一行显示时，第一个radio样式错误 */
.radio-inline {
  margin-top: 0px;
}

.detail-link{
  color: #16cbe6 !important;
  &:hover{
    border-bottom:1px solid #0fa6bc !important;
    background-color: #F9F9F9;
  }
}