<div class="page-title">
  <h2><i class="fa fa-desktop color"></i>  板料种类 <small>新建</small>
  <span class="pull-right">
    <%= link_to('返回', :back, class: 'btn btn-lg btn-default') %>
  </span>
  </h2>
  <hr />
</div>
<div class="awidget full-width">
  <div class="awidget-head">
    <div class="row">
      <div class="col-md-12 col-sm-12">
        <h3>板料种类新建</h3>
      </div>
    </div>
  </div>
  <div class="awidget-body">
    <%= render 'form' %>
  </div>
</div>