<!-- Footer starts -->
<footer>
   <div class="container">

      <div class="copy text-center">
         Copyright 2016 &copy; - <a href="#">久久居</a>
      </div>

   </div>
</footer>
<!-- Footer ends -->