<!-- Footer starts -->
<footer>
   <div class="container">
   
      <div class="copy text-center">
         Copyright 2015 &copy; - <a href="#">家具办公系统</a>
      </div>
      
   </div>
</footer>
<!-- Footer ends -->

<!-- Scroll to top -->
<span class="totop"><a href="#"><i class="fa fa-chevron-up"></i></a></span> 