<div class="header">
   <div class="container">
      <div class="row">
         <div class="col-md-6">
            <!-- Logo -->
            <div class="logo">
               <h1><a href="#">家具办公OA系统</a></h1>
            </div>
         </div>
         <div class="col-md-6">
            <ul class="nav navbar-nav navbar-right">
              <% if user_signed_in? %>
                <li><%= link_to '修改密码', edit_user_registration_path, class: 'btn btn-info' %></li>
                <li><%= link_to '退出', destroy_user_session_path, :method=>'delete', class: 'btn btn-info' %></li>
              <% else %>
                <li><%= link_to '登录', new_user_session_path, class: 'btn btn-info' %></li>
                <li><%= link_to '注册', new_user_registration_path , class: 'btn btn-info' %></li>
              <% end %>
            </ul>
         </div>
      </div>
   </div>
</div>